<form action="/search_results" class="search-form">
  <input type="text" name="searchTerm">
  <button type="submit">Go</button>
</form>

<!--the action part of the form essentially tells the button what to do. In this case, it send it to the /search page. And to do that we need a handler. So in the js file, we make an app.get to handle when someone gos to /search. At this point in time we are kind of threading everything togther.
  -->
